<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <p>Server Component</p>
                <input type="text" class="form-control" (input)="onUpdateServer($event)">
                <p>{{serverName}}</p>
                <!-- String interpolation has to return string in the end -->
                <p>{{'Server'}} with ID {{serverId}} with status {{getServerStatus()}}</p>
                <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
                <p [innerText]="!allowNewServer"></p>
                <p>{{serverCreation}}</p>
            </h3>
            <p>With 2 way binding</p>
            <input type="text" class="form-control" [(ngModel)]='serverName'>
            <p>{{serverName}}</p>
            <hr>

            <p>Assignment</p>
            <input type="text" class="form-control" [(ngModel)]='username'>
            <p>{{username}}</p>
            <button [disabled]='!username' (click)="resetUser()">Reset User</button>
        </div>
    </div>
</div>