<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>
                <p>Server Component</p>
                <!-- String interpolation has to return string in the end -->
                <p>{{'Server'}} with ID {{serverId}} with status {{getServerStatus()}}</p>
                <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
                <p [innerText]="!allowNewServer"></p>
                <p>{{serverCreation}}</p>
            </h3>
            <hr>
        </div>
    </div>
</div>